[Unit]
Description=TKiosk Support Daemon
After=graphical-session.target

[Service]
ExecStart=/home/pi/kiosk/venv/bin/python3 /home/%u/bin/panel_events.py
WorkingDirectory=/home/pi/kiosk
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
